<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Артель</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css') }}" />

  </head>
  <body>
    <div class="header">
      <div class="header_row">
        <div class="menu_option option_people">
          <a href="{{ url_for('main.people_status') }}"> Люди </a>
        </div>
        <div class="menu_option option_firms">
          <a href="{{ url_for('main.firms_status') }}">Фирмы</a>
        </div>
      </div>
      <div class="header_row timer">
        <button id="month-minus"><<</button>
        <button id="day-minus"><</button>
        <input
          type="date"
          id="main-date"
          value="{{time_limits.current_date}}"
          required
          min="{{ time_limits.start_date }}"
          max="{{ time_limits.end_date }}"
        />

        <button id="day-plus">></button>
        <button id="month-plus">>></button>
      </div>
    </div>
    <div class="content">
      <div class="content__window main">
      {% block content %}
      {% endblock content %}
      </div>
            <div class="content__window side">
      </div>
    </div>
    
    {% block js %}

      <script type="module"  src="{{ url_for('static', filename = 'js/header.js') }}"></script>

    {% endblock js %}
  </body>
</html>
