{% extends "base.html" %}
{% block content %}
<div id="request" style="display: none" data-url="{{prop.url}}" data-class = {{prop.class}}></div>
{% endblock content %}

{% block js %}
<!--
    {% if script == 'people' %}
        <script type="module" src="{{ url_for('static', filename = 'js/people.js') }}"></script>
    {% endif%}

    {% if script == 'firms' %}
        <script type="module" src="{{ url_for('static', filename = 'js/firms.js') }}"></script>
    {% endif%}
-->
    {{ super() }}


{% endblock js %}